{% extends "base.html" %}
{% load static %}

{% block navbar %}{% endblock %}

{% block content %}
<div class="login-container">
  <div class="logos">
    <img src="{% static 'images/VELTECH.png' %}" alt="VelTech Logo">
  </div>

  <h2>Internship Management System</h2>
  <h3><i class="bi bi-search"></i> Page Not Found</h3>

  <div class="failure-box">
    <i class="fa fa-question-circle"></i>
    <p>
      The page you are looking for does not exist.<br>
      It might have been removed or you may have mistyped the address.
    </p>
  </div>
  <button onclick="window.location.href='/'">
    <i class="fa fa-home"></i> Go Home
  </button>
</div>
{% include "errors/error_style.html" %}
{% endblock %}
